<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Añadir Cultivo</title>
</head>

<body>
	<form method="post" action="/addCultivo">
		<p> Especie del cultivo: <input type="text" name="especie"></p>
		<p> Variedad: <input type="text" name="variedad"></p>
		<p> Descripcion: <textarea name="descripcion" rows=4 cols=40></textarea></p>
		<p> Fecha en al que fue plantado: <input type="date" name="plantado"></p>
		<p> Zona en la que fue plantado: <textarea name="zona" rows=4 cols=40></textarea></p>
		<p> Enviar: <input type="submit" value="send" /></p>
	</form>
</body>

</html>