.u-section-1 {
  background-image: linear-gradient(white, #aae3b5);
}

.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 570px;
  margin: 58px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-text-1 {
  font-family: Alata;
  width: 421px;
  margin: 54px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}